<div class="footer bg-light d-flex align-items-center justify-content-center flex-column flex-sm-row py-2">
  <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row mb-2 mb-sm-0">
    <div class="mx-2" routerLinkActive="active-route">
      <a class="nav-link text-decoration-underline" routerLink="/courses">Курсы</a>
    </div>
    <div class="mx-2" routerLinkActive="active-route">
      <a class="nav-link text-decoration-underline" routerLink="/about-us">О нас</a>
    </div>
    <div class="mx-2" routerLinkActive="active-route">
      <a class="nav-link text-decoration-underline" routerLink="/contacts">Контакты</a>
    </div>
  </div>
  <div *ngIf="!auth.logged && !auth.adminLogged" class="buttons mx-3 teacher-button">
    <div class="btn btn-sm btn-outline-secondary" (click)="openAuthModal()">Вход для учителей</div>
  </div>
</div>
