.active-route {
  font-weight: bold;
}

.footer {
  position: relative;
}

.teacher-button {
  position: absolute;
  right: 0;
  bottom: 7px;
}

@media (max-width: 576px) {
  .teacher-button {
    position: relative;
  }
}
