<div class="bg-light">
  <div class="p-2 d-flex align-items-center flex-column flex-md-row justify-content-between w-100">
    <a class="header-title d-flex justify-content-center align-items-center align-middle nav-link" routerLink="">
      Компьютер для всех
    </a>

    <div class="buttons d-flex flex-column flex-md-row">
      <div *ngIf="auth.logged" class="btn btn btn-outline-primary m-1" (click)="openChat()">Чат с учителем</div>
      <div *ngIf="!auth.logged  && !auth.adminLogged" class="btn btn btn-outline-dark m-1" (click)="startStudy()">Начать обучение</div>
      <div *ngIf="!auth.logged && !auth.adminLogged" class="btn btn btn-outline-dark m-1" (click)="continueStudy()">Продолжить обучение</div>
      <div *ngIf="auth.logged || auth.adminLogged" class="btn btn btn-outline-dark m-1" (click)="logout()">Выйти из системы</div>
    </div>
  </div>
</div>
