<div class="bg-primary text-white header">
  <div class="p-2 d-flex align-items-center flex-column flex-sm-row justify-content-between w-100">
    <div class="title d-flex justify-content-center align-items-center align-middle">
      ОБУЧЕНИЕ
    </div>
    <div class="buttons d-flex flex-column flex-sm-row">
      <div class="btn btn-light m-1" (click)="startStudy()">Начать обучение</div>
      <div class="btn btn-light m-1" (click)="continueStudy()">Продолжить обучение</div>
    </div>
  </div>
</div>
