<div>
  <div class="d-flex justify-content-between">
    <div class="h4">Курсы</div>
    <div>
      <button class="btn btn-outline-success mx-2" (click)="changePassword()">Обновить пароль</button>
      <button class="btn btn-outline-danger" (click)="deleteUser()">Удалить ученика</button>
    </div>
  </div>
  <div *ngIf="!finishedCourses.length && !startedCourses.length">
    Нет информации о  курсах
  </div>
  <div *ngIf="finishedCourses.length || startedCourses.length" class="d-flex flex-column">
    <div *ngIf="startedCourses.length" class="d-flex flex-column">
      <div class="h5 mb-2">Начатые курсы</div>
      <ul>
        <li *ngFor="let course of startedCourses">{{course}}</li>
      </ul>
    </div>
    <hr *ngIf="finishedCourses.length && startedCourses.length">
    <div *ngIf="finishedCourses.length" class="d-flex flex-column">
      <div class="h5 mb-2">Завершенные курсы</div>
      <ul>
        <li *ngFor="let course of finishedCourses">{{course}}</li>
      </ul>
    </div>
  </div>
</div>
