<div class="container">
  <div *ngIf="!practices.length" class="mt-5 h4 d-flex justify-content-center">Нет заданий для проверки</div>
  <div *ngIf="practices.length">
    <div class="card mt-3" *ngFor="let user of practices">
      <div class="card-header">
        {{user.userName}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{user.course.title}}</h5>
        <div>
          <a [href]="user.course.practiceUrl" class="btn btn-info">Скачать файл</a>
          <button class="btn btn-primary mx-2" (click)="checked(user.userId, user.course)">Проверено</button>
        </div>
      </div>
    </div>
  </div>
</div>
