<div class="p-3">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Все ученики</a>
      <ng-template ngbNavContent>
        <app-user-list></app-user-list>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Чат с учениками</a>
      <ng-template ngbNavContent>
        <app-user-chat></app-user-chat>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Обратная связь</a>
      <ng-template ngbNavContent>
        <app-feedback></app-feedback>
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <a ngbNavLink>Практические задания</a>
      <ng-template ngbNavContent>
        <app-practices></app-practices>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
