<div class="d-flex flex-column justify-content-center h-100 align-items-center background-image">
  <div class="d-flex flex-column w-100">
    <div class="container">
      <div class="article">
        Сегодня все больше людей, в том числе граждан пожилого возраста и инвалидов, сталкиваются с необходимостью научиться работать на компьютере. Всеобщая компьютеризация приводит к тому, что пенсионерам, которые могли бы продолжать трудовую деятельность, приходится уходить на пенсию из-за неумения пользоваться компьютером.
      </div>
      <div class="article">
        Чтобы пожилые люди и лица с ограниченными физическими возможностями не чувствовали себя лишними в обществе и не замыкались в своих четырёх стенах, были созданы все условия для вовлечения их в активную деятельность.
      </div>
      <div class="article">
        Данная программа предоставляет гражданам возможность людям пожилого возраста и инвалидам дополнительного общения, социальной адаптации, реализации творческих планов с помощью современных информационных технологий и Интернета
      </div>
      <div class="article">
        Обучение компьютерной грамотности позволяет пенсионерам понять не только сам компьютер, но и молодых людей в целом, ведь обладание общим знанием сближает, устраняя различные недопонимания.      </div>
    </div>
  </div>
</div>
