<div class="d-flex justify-content-end h-100 align-items-center background-image">
  <div class="d-flex flex-column w-75">
    <div class="w-100 d-flex align-items-center justify-content-center h2">О нас</div>
    <div class="container">
      <div class="h3">Наша цель</div>
      <div class="article mb-2">
        Создание возможностей для образования на протяжении всей жизни, условий для активного долголетия и участия в жизни общества. Программа «Основы компьютерной грамотности» предоставляет гражданам возможность людям пожилого возраста и инвалидам дополнительного общения, социальной адаптации, реализации творческих планов с помощью современных информационных технологий и Интернета.      </div>
      <div class="article">
        «Качество жизни пожилого человека определяется не только размером пенсии. Мы обязаны создать по-настоящему комфортную среду для пожилых людей… Мы не имеем права относиться к людям старшего поколения по так называемому остаточному принципу. Это важнейшая и социальная, и гуманитарная, и государственная задача – внимательное отношение к людям старшего поколения»      </div>
      <div class="h3 mt-3">Наши задачи</div>
      <ul>
        <li>дать представление о возможностях персонального компьютера;</li>
        <li>сформировать навыки управления ПК;</li>
        <li>обучить приемам работы с популярными компьютерными программами на начальном уровне;</li>
        <li>обучить использованию современных средств связи и коммуникации для получения информации, общения;</li>
      </ul>
    </div>
  </div>
</div>
